exportPattern("^[[:alpha:]]+")
export("GenomicMatingMT")
export("calculateFamilyValues")
export("meff_from_GVs")
export("create_LD_list")
export("create_c_list")
export("make_P_matrix")
export("compute_i")
import("TrainSel")
import("Matrix")
import("foreach")
import("doParallel")
import("httr")
import("jsonlite")